<ul class="breadcrumb">
  <li>
    <a href="/">innMaps</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/houses">Houses</a> <span class="divider">/</span>
  </li>
  <li class="active">Edit House</li>
</ul>

<%= render 'form' %>
<%= link_to 'Back', houses_path, class: 'btn' %>
<%= link_to 'Show', @house, class: 'btn' %>