<ul class="breadcrumb">
  <li>
    <a href="/">innMaps</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/houses">Houses</a> <span class="divider">/</span>
  </li>
  <li class="active">New House</li>
</ul>

<%= render 'form' %>